.listalibros{
    display: flex;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
    background-color: aliceblue;
}

img{
    height: 200px;
    width: 140px;
}
.claseplata{
    background-color: silver;
}
.claseoro{
    background-color: gold;
}
.btx{
    border: none;
    background-color: aliceblue;
    font-weight: bolder;
}