<section>
  <h4>MyBooks</h4>
  <div>
    <a *ngIf="!this.userService.login" routerLink="">Home</a>
    <a *ngIf="this.userService.login" routerLink="book">Books</a>
    <a *ngIf="this.userService.login" routerLink="add">Addbook</a>
    <a *ngIf="this.userService.login" routerLink="edit">Updatebook</a>
    <a *ngIf="!this.userService.login" routerLink="register">Register</a>
    <a *ngIf="!this.userService.login" routerLink="login">Login</a>
    <a *ngIf="this.userService.login" routerLink="profile">Profile</a>
</div>
</section>
