main{
    min-height: 90vh;
    background-image: url(src/assets/img/Book.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
.formula{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
section{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 300px;
    border:0.5px solid black;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    display: flex;
    background-color: rgb(171, 169, 169);
    flex-direction:column ;
    align-items: center;
}
.titulo{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.listalibros{
    display: flex;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
    background-color: aliceblue;
}
img{
    height: 200px;
}
input{
    margin: 3px;
    text-align: center;
    background-color: azure;
    border-radius: 5px;
}
h2{text-decoration: underline;}
.butform{
    width: 100px;
    margin-bottom: 2px;
    border-radius: 5px;
    color: white;
    background-color: rgb(52, 171, 121);
}
.claseplata{
    background-color: silver;
}
.claseoro{
    background-color: gold;
}