<main>
<div class="titulo" *ngIf="books.length === 0; else lista">
    <h1>No hay libros</h1>
</div>
<ng-template  #lista>
    <div class="titulo">
    <h2>Lista de libros</h2>
    </div>
</ng-template>
<div class="listalibros">
    <ng-container *ngFor="let bookpadre of books; let par = even">
    <app-card [book]="bookpadre" [par]="par" (eventSon)="cerrarX($event)"></app-card>
    </ng-container>
</div>
<div class="formula">
    <section>
        <h2>Añadir libro</h2>
        <input type="text" placeholder="Titulo" #title>
        <input type="text" placeholder="Categoría" #type>
        <input type="text" placeholder="Autor" #author>
        <input type="number" placeholder="Precio" #price>
        <input type="text" placeholder="Foto" #photo>
        <input type="number" placeholder="Codigo libro" #id_book>
        <button class="butform" (click)="addbook(title,type,author,price,photo,id_book,id_book)">Añadir</button>
    </section>
</div>
</main>
