<main>
<div class="titulo" *ngIf="books.length === 0; else lista">
    <h1>No hay libros</h1>
</div>
<ng-template  #lista>
    <div class="titulo">
    <h2>Lista de libros</h2>
    </div>
</ng-template>
<div class="buscador">
    <form action="../../form-result.php" method="post" target="_blank">
    <p>
        <input type="search" name="busquedamusica" placeholder="Titulo, autor..." #findid>
        <button class="butbus" (click)="busq(findid.valueAsNumber)">Buscar</button>
    </p>
      </form>
</div>
<div class="listalibros">
    <ng-container *ngFor="let bookpadre of books; let par = even">
    <app-card [book]="bookpadre" [par]="par" (eventSon)="cerrarX($event)"></app-card>
    </ng-container>
</div>
</main>
