<main>
    <div>
        <form>
            <h2>Añadir libro</h2>
            <input type="text" placeholder="Titulo" #title>
            <input type="text" placeholder="Categoría" #type>
            <input type="text" placeholder="Autor" #author>
            <input type="number" placeholder="Precio" #price>
            <input type="text" placeholder="Foto" #photo>
            <input type="number" placeholder="Codigo libro" #id_book>
            <button class="butform" (click)="newbook(title.value,type.value,author.value,price.valueAsNumber,photo.value.valueAsNumber,id_book,id_book.valueAsNumber)">Añadir</button>
        </form>
    </div>
</main>
