<main>
    <form>
        <h2>Registrate</h2>
        <input type="text" id="nombre" placeholder="Nombre" name="nombre" required>
        
        <input type="text" id="apellidos" placeholder="Apellidos" name="apellido" required>
    
        <input type="text" id="email" placeholder="Email" name="email" required>
        
        <input type="email" id="url" placeholder="Url" name="url" required>

        <input id="cone" name="pass" placeholder="Contraseña" type="password"  required>
        
        <input id="recon" name="reppass" placeholder="Repetir contraseña" type="password"  required>
        
        <button type="submit">Registrar</button>

    </form>
</main>